<!-- <m-portlet [options]="{headLarge: true, enableSticky: true}"> -->
  <m-portlet [options]="{headLarge: true, enableSticky: true}" [loading$]="loading$">

  <ng-container mPortletHeadTitle>
    <div class="m-portlet__head-title">
      <h3 class="m-portlet__head-text">
        {{ getComponentTitle() }}
      </h3>
    </div>
  </ng-container>
  <ng-container mPortletHeadTools>
    <button type="button" (click)="goBack()" mat-raised-button matTooltip="Back to the products list">Voltar</button>&nbsp;
    <button mat-raised-button (click)="reset()" [disabled]="selectedTab !== 0" matTooltip="Reset changes">Limpar</button>&nbsp;

    <div class="m-buttons--wrapper">
      <button type="button" (click)="onSumbit(false)" mat-raised-button color="primary" matTooltip="Save & Continue">Salvar</button>
      <button mat-icon-button [matMenuTriggerFor]="menu" color="primary">
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item color="primary" (click)="onSumbit(true)">Salvar & Sair</button>
        <!-- <button mat-menu-item color="primary">Save & Duplicate</button> -->
        <button mat-menu-item color="primary" (click)="onSumbit(false)">Salvar & Continuar</button>
      </mat-menu>
    </div>
  </ng-container>
  <ng-container mPortletBody>
    <!-- <mat-tab-group [(selectedIndex)]="selectedTab"> -->
      <mat-tab-group [(selectedIndex)]="selectedTab" *ngIf="notaFiscal">
      <mat-tab label="Informações da Nota Fiscal">
        <ng-template matTabContent>
          <!--begin::Form-->
          <form [formGroup]="notafiscalForm" class="m-form m-form--group-seperator-dashed">
            <div class="m-form__section m-form__section--first">

              <div class="m-form__group">
                <div class="row">
                  <div class="col-md-6 m--margin-bottom-10-mobile">
                      <m-n-pessoa-autocomplete [control]="notafiscalForm.controls['pessoa']"></m-n-pessoa-autocomplete>
                  </div>
                  <div class="col-md-6 m--margin-bottom-10-mobile">
                    <mat-form-field class="mat-form-field-fluid">
                      <mat-select placeholder="Tipo da Operação" formControlName="tipoOperacao">
                        <mat-option>--</mat-option>
                        <mat-option *ngFor="let col of tipoOperacaoList" [value]="col.value">
                          {{ col.name }}
                        </mat-option>
                      </mat-select>
                      <mat-error>
                        Tipo Operação é <strong>obrigatório</strong>
                      </mat-error>
                      <mat-hint align="start">Por favor selecione <strong>Tipo da Operação</strong>
                      </mat-hint>
                    </mat-form-field>
                  </div>
                </div>
              </div>
              <div class="m-form__group">
                <div class="row">

                  <div class="col-md-6 m--margin-bottom-10-mobile">
                    <mat-form-field class="mat-form-field-fluid">
                      <input matInput placeholder="Num. Documento" formControlName="num">
                      <mat-error>
                        Num. Documento é
                        <strong>obrigatório</strong>
                      </mat-error>
                      <mat-hint align="start">Preencha
                        <strong>o Num. Documento</strong>
                      </mat-hint>
                    </mat-form-field>
                  </div>

                  <div class="col-md-6 m--margin-bottom-10-mobile">
                    <mat-form-field class="mat-form-field-fluid">
                      <input matInput placeholder="Série" formControlName="serie">
                      <mat-error>
                        Série é
                        <strong>obrigatória</strong>
                      </mat-error>
                      <mat-hint align="start">Preencha a
                        <strong>Série</strong>
                      </mat-hint>
                    </mat-form-field>
                  </div>

                </div>
              </div>

              <div class="m-form__group">
                <div class="row">
                  <div class="col-md-6 m--margin-bottom-10-mobile">
                    <mat-form-field class="mat-form-field-fluid">
                      <input matInput [matDatepicker]="dp" placeholder="Data de Emissão" formControlName="dataEmissao" readonly>
                      <mat-datepicker-toggle matSuffix [for]="dp"></mat-datepicker-toggle>
                      <mat-datepicker #dp [disabled]="false"></mat-datepicker>
                      <mat-hint align="start">Selecione
                        <strong>Data de Emissão</strong> no formato 'dd/mm/aaaa'
                      </mat-hint>
                    </mat-form-field>
                  </div>

                  <div class="col-md-6 m--margin-bottom-10-mobile">
                    <mat-form-field class="mat-form-field-fluid">
                      <input matInput placeholder="Valor Bruto" formControlName="vlrBruto" twoDigitDecimaNumber>
                      <mat-error>
                        Valor Bruto é
                        <strong>obrigatório</strong>
                      </mat-error>
                      <mat-hint align="start">Preencha o
                        <strong>Valor Bruto</strong>
                      </mat-hint>
                    </mat-form-field>
                  </div>
                </div>
              </div>

              <div class="m-form__group">
                <div class="row">
                  <div class="col-md-12 m--margin-bottom-10-mobile">
                    <mat-form-field class="mat-form-field-fluid">
                      <textarea matInput rows="7" placeholder="Observação" formControlName="observacao"></textarea>
                    </mat-form-field>
                  </div>
                </div>
              </div>

            </div>

          </form>
        </ng-template>
      </mat-tab>
      <mat-tab label="Lista de Serviços"  [disabled]="!notaFiscal._id">
        <ng-template matTabContent>
          <m-reinftiposervico-list [tiposervicoListState]="tiposervicoListState" [(loadingSubject)]="loadingSubject"></m-reinftiposervico-list>
        </ng-template>
      </mat-tab>

    </mat-tab-group>
  </ng-container>
</m-portlet>
