<!-- start::FILTERS & GROUP ACTIONS -->
<div class="m-form">
  <!-- start::FILTERS -->
  <div class="m-form__filtration">
    <div class="row align-items-center">
      <div class="col-md-2 m--margin-bottom-10-mobile">
        <!-- <mat-form-field class="mat-form-field-fluid">
          <input matInput placeholder="Search product remark" #searchInput placeholder="Search">
          <mat-hint align="start">Search in all fields</mat-hint>
        </mat-form-field> -->
      </div>
      <div class="col-md-8 m--margin-bottom-10-mobile"></div>
      <div class="col-md-2 text-right m--margin-bottom-10-mobile">
        <button type="button" (click)="addItem()" mat-raised-button color="primary" matTooltip="Cadastrar Novo Item" [disabled]="itemForAdd._isEditMode || isSwitchedToEditMode">Novo Item</button>
      </div>
    </div>
  </div>
  <!-- end::FILTERS -->
<!-- start::GROUP ACTIONS -->
<!-- Group actions list: 'Delete selected' | 'Fetch selected' | 'Update status for selected' -->
<!-- Group actions are shared for all LISTS | See '../../_shared' folder -->
<div class="row align-items-center collapse m-form__group-actions m--margin-bottom-20" [ngClass]="{'show' : selection.selected.length > 0}">
  <div class="col-xl-12">
    <div class="m-form__group m-form__group--inline">
      <div class="m-form__label m-form__label-no-wrap">
        <label class="m--font-bold m--font-danger-">Selected records count: {{ selection.selected.length }}</label>
      </div>
      <div class="m-form__control m-form__group--inline">
        <div>
          <button mat-raised-button color="accent" (click)="deleteItems()" matTooltip="Delete selected remarks">Delete
            All</button>
          &nbsp;&nbsp;&nbsp;
          <button mat-raised-button color="warn" (click)="fetchItems()" matTooltip="Fetch selected remarks">Fetch Selected
            Records</button>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- end::GROUP ACTIONS -->

</div>
<!-- end::FILTERS & GROUP ACTIONS -->

<!-- MATERIAL TABLE | Binded to datasources -->
<!-- See off.documentations 'https://material.angular.io/components/table/overview' -->
<div class="mat-table__wrapper">
  <!-- <form [formGroup]="formGroup"> -->
    <mat-table class="lmat-elevation-z8" [dataSource]="dataSource" matSort matSortActive="text" matSortDirection="asc" matSortDisableClear>
      <!-- begin: EDIT row -->
      <!-- Checkbox Column -->
      <!-- Table with selection -->
      <!-- https://run.stackblitz.com/api/angular/v1?file=app%2Ftable-selection-example.ts -->
      <ng-container matColumnDef="select">
        <mat-header-cell *matHeaderCellDef class="mat-column mat-column-checkbox">
          <mat-checkbox (change)="$event ? masterToggle() : null" [checked]="selection.hasValue() && isAllSelected()" [indeterminate]="selection.hasValue() && !isAllSelected()">
          </mat-checkbox>
        </mat-header-cell>
        <mat-cell *matCellDef="let row" class="mat-column mat-column-checkbox">
          <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row) : null" [checked]="selection.isSelected(row)">
          </mat-checkbox>
        </mat-cell>
      </ng-container>

      <!-- <ng-container matColumnDef="id">
        <mat-header-cell *matHeaderCellDef mat-sort-header class="mat-column mat-column-id">ID</mat-header-cell>
        <mat-cell *matCellDef="let item" class="mat-column mat-column-id">
          <span>{{ item._id }}</span>
        </mat-cell>
      </ng-container> -->

      <ng-container matColumnDef="tipoServico">
        <mat-header-cell *matHeaderCellDef mat-sort-header class="mat-column mat-column-main">Tipo do Serviço</mat-header-cell>
        <mat-cell *matCellDef="let item" class="mat-column mat-column-main">
          <span *ngIf="!item._isEditMode">{{ getTypeStr(item.tipoServico, tipoServicoList) }}</span>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="vlrBaseRetencao">
        <mat-header-cell *matHeaderCellDef mat-sort-header class="mat-column">Base de Cálculo</mat-header-cell>
        <mat-cell *matCellDef="let item" class="mat-column">
          <span *ngIf="!item._isEditMode">{{ item.inss.vlrBaseRetencao | currency : 'BRL' }}</span>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="vlrRetencao">
        <mat-header-cell *matHeaderCellDef mat-sort-header class="mat-column">Valor Retenção</mat-header-cell>
        <mat-cell *matCellDef="let item" class="mat-column">
          <span *ngIf="!item._isEditMode">{{ item.inss.vlrRetencao | currency : 'BRL' }}</span>
        </mat-cell>
      </ng-container>


      <ng-container matColumnDef="actions">
        <mat-header-cell *matHeaderCellDef class="mat-column mat-column-actions">
          Actions
        </mat-header-cell>
        <mat-cell *matCellDef="let item" class="mat-column mat-column-actions">

          <button *ngIf="!item._isEditMode" [disabled]="isSwitchedToEditMode" type="button" mat-icon-button color="primary" (click)="editItem(item)" matTooltip="Edit Item">
            <mat-icon>create</mat-icon>
          </button>

          <button *ngIf="item._isEditMode && !loadingAfterSubmit" mat-icon-button color="{{checkEditForm() ? 'primary' : 'accent'}}"
            type="button" (click)="saveUpdatedItem(item)" matTooltip="Save changes">
            <mat-icon>done</mat-icon>
          </button>

          <mat-spinner *ngIf="item._isEditMode && loadingAfterSubmit" [diameter]="20"></mat-spinner>
          &nbsp;
          <button *ngIf="!item._isEditMode" [disabled]="isSwitchedToEditMode" mat-icon-button color="warn" type="button" (click)="deleteItem(item)"
            matTooltip="Delete item">
            <mat-icon>delete</mat-icon>
          </button>
          <button *ngIf="item._isEditMode" type="button" mat-icon-button color="warn" (click)="cancelEditButtonOnClick(item)" matTooltip="Cancel changes">
            <mat-icon>clear</mat-icon>
          </button>
        </mat-cell>
      </ng-container>
      <!-- end: EDIT row -->

      <mat-row *matRowDef="let row; columns: displayedColumns" [ngClass]="{'mat-row-editing' : row._isEditMode}"></mat-row>
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    </mat-table>
  <!-- </form> -->
</div>

<!-- start: BOTTOM -->
<div class="mat-table__bottom">
  <mat-spinner [diameter]="20" *ngIf="dataSource.loading$ | async"></mat-spinner>
  <mat-paginator [pageSize]="5" [pageSizeOptions]="[3, 5, 10]" [length]="dataSource.paginatorTotal$ | async" [showFirstLastButtons]="true"></mat-paginator>
</div>
<!-- end: BOTTOM -->
