<!--begin::Signin-->
<div class="m-login__signin">
	<div class="m-login__title">
		<h3 class="m-login__title">Registrar</h3>
		<div class="m-login__desc">Preencha os campos para criar sua conta:</div>
	</div>

	<m-auth-notice></m-auth-notice>

	<!--begin::Form-->
	<form class="m-login__form m-form" name="form" (ngSubmit)="f.form.valid && submit()" #f="ngForm" novalidate>
		<div class="form-group">
			<mat-form-field>
				<mat-label>Nome Completo</mat-label>
				<input matInput type="text" name="first_name" placeholder="Nome Completo" autocomplete="off" [(ngModel)]="model.first_name" #first_naem="ngModel" required>
			</mat-form-field>
		</div>
		<div class="form-group">
			<mat-form-field>
				<mat-label>Email</mat-label>
				<input matInput type="email" name="email" placeholder="Email" autocomplete="off" [(ngModel)]="model.email" #email="ngModel" email="true" required>
			</mat-form-field>
		</div>
		<div class="form-group">
			<mat-form-field>
				<mat-label>Senha</mat-label>
				<input matInput minlength="4" type="password" name="password1" placeholder="Senha" autocomplete="off" [(ngModel)]="model.password1" #password1="ngModel" required>
			</mat-form-field>
		</div>
		<div class="form-group">
			<mat-form-field>
				<mat-label>Confirme a Senha</mat-label>
				<input matInput minlength="4" type="password" name="password2" placeholder="Confirme a Senha" autocomplete="off" [(ngModel)]="model.password2" #password2="ngModel" required>
			</mat-form-field>
		</div>
		<div class="form-group">
			<mat-checkbox name="agree" required="true" [(ngModel)]="model.agree" #agree="ngModel">I agree the
				<a href="javascript:;">Termos e Condições de Uso</a>
			</mat-checkbox>
		</div>
	</form>
	<!--end::Form-->

	<!--begin::Action-->
	<div class="m-login__action m-login__action--fit">
		<button mat-button (click)="loginPage($event)" [disabled]="loading">Voltar</button>
		<m-spinner-button [options]="spinner" (click)="submit()">Registrar</m-spinner-button>
	</div>
	<!--end::Action-->
</div>
<!--end::Signin-->
