<div class="m-portlet" [ngClass]="{ 'm-portlet--body-progress' : viewLoading, 'm-portlet--body-progress-overlay' : loadingAfterSubmit }">
  <div class="m-portlet__head">
    <div class="m-portlet__head-caption">
      <div class="m-portlet__head-title">
        <span class="m-portlet__head-icon m--hide">
          <i class="la la-gear"></i>
        </span>
        <h3 class="m-portlet__head-text">
          Novo Período de Escrituração
        </h3>
      </div>
    </div>
  </div>
  <!--begin::Form-->
  <form [formGroup]="formGroup" class="m-form ">
    <div class="m-portlet__body">

      <div class="m-portlet__body-progress">
        <mat-spinner [diameter]="20"></mat-spinner>
      </div>

      <div class="m-form__section m-form__section--first">

        <div class="m-form__group">
          <div class="row">
            <div class="col-md-6 m--margin-bottom-10-mobile">
              <mat-form-field>
                <input matInput [matDatepicker]="dp" placeholder="Month and Year" formControlName="periodoApuracao">
                <mat-datepicker-toggle matSuffix [for]="dp"></mat-datepicker-toggle>
                <mat-datepicker #dp startView="multi-year" (yearSelected)="chosenYearHandler($event)" (monthSelected)="chosenMonthHandler($event, dp)"
                  panelClass="example-month-picker">
                </mat-datepicker>
              </mat-form-field>
            </div>
          </div>
        </div>

      </div>

    </div>

    <div class="m-portlet__foot m-portlet__foot--fit text-right">
      <div class="m-form__actions m-form__actions m-form__actions--solid">
        <button type="button" mat-raised-button cdkFocusInitial (click)="onNoClick()" matTooltip="Cancel changes">Cancel</button>&nbsp;
        <button type="button" mat-raised-button color="primary" (click)="save()" [disabled]="!checkDataIsValid() || viewLoading"
          matTooltip="Save changes">Save</button>
      </div>
    </div>
  </form>
      <!--end::Form-->
      </div>
