<div class="m-portlet" [ngClass]="{ 'm-portlet--body-progress' : viewLoading, 'm-portlet--body-progress-overlay' : loadingAfterSubmit }">
  <div class="m-portlet__head">
    <div class="m-portlet__head-caption">
      <div class="m-portlet__head-title">
        <span class="m-portlet__head-icon m--hide">
          <i class="la la-gear"></i>
        </span>
        <h3 class="m-portlet__head-text">
          Atualizar Item de Serviço
        </h3>
      </div>
    </div>
  </div>
  <!--begin::Form-->
  <form [formGroup]="formGroup" class="m-form ">
    <div class="m-portlet__body">

      <div class="m-portlet__body-progress">
        <mat-spinner [diameter]="20"></mat-spinner>
      </div>


      <div class="m-form__section m-form__section--first">
        <div class="m-form__group">
          <div class="row">
            <div class="col-md-12 m--margin-bottom-10-mobile">
              <mat-form-field  class="mat-form-field-fluid">
                <mat-select placeholder="Tipo Serviço" formControlName="tpServico">
                  <mat-option>--</mat-option>
                  <mat-option *ngFor="let col of tipoServicoList" [value]="col.value">
                    {{ col.name }}
                  </mat-option>
                </mat-select>
                <mat-error>
                  Tipo serviço é
                  <strong>obrigatório</strong>
                </mat-error>
                <mat-hint align="start">Por favor selecione
                  <strong>Tipo Servico</strong>
                </mat-hint>
              </mat-form-field>
            </div>
          </div>
        </div>

        <div class="m-form__group">
          <div class="row">
            <div class="col-md-6 m--margin-bottom-10-mobile">
              <mat-form-field class="mat-form-field-fluid">
                <input matInput placeholder="Base de Cálculo da Retenção" formControlName="vlrBaseRet" twoDigitDecimaNumber>
                <span matPrefix>R$&nbsp;</span>
              </mat-form-field>
            </div>

            <div class="col-md-6 m--margin-bottom-10-mobile">
              <mat-form-field class="mat-form-field-fluid">
                <input matInput placeholder="Alíquota de INSS" formControlName="aliquota" twoDigitDecimaNumber>
                <!-- <span matPrefix>R$&nbsp;</span> -->
              </mat-form-field>
            </div>
          </div>
        </div>

        <div class="m-form__group">
          <div class="row">
            <div class="col-md-6 m--margin-bottom-10-mobile">
              <mat-form-field class="mat-form-field-fluid">
                <input matInput placeholder="Valor da Retenção" formControlName="vlrRetencao" twoDigitDecimaNumber>
                <span matPrefix>R$&nbsp;</span>
              </mat-form-field>
            </div>

            <div class="col-md-6 m--margin-bottom-10-mobile">
              <mat-form-field class="mat-form-field-fluid">
                <input matInput placeholder="Valor da Retenção (Serviços Subcontratados)" formControlName="vlrRetSub" twoDigitDecimaNumber>
                <span matPrefix>R$&nbsp;</span>
              </mat-form-field>
            </div>

          </div>
        </div>

        <div class="m-form__group">
          <div class="row">
            <div class="col-md-6 m--margin-bottom-10-mobile">
              <mat-form-field class="mat-form-field-fluid">
                <input matInput placeholder="Valor da Retenção (Não Efetuada)" formControlName="vlrNRetPrinc" twoDigitDecimaNumber>
                <span matPrefix>R$&nbsp;</span>
              </mat-form-field>
            </div>

            <div class="col-md-6 m--margin-bottom-10-mobile">
              <mat-form-field class="mat-form-field-fluid">
                <span matTooltip="Valor dos Serviços prestados por segurados em condições especiais, cuja atividade permita concessão de aposentadoria especial após 15 anos de contribuição" #tooltip="matTooltip">
                  <input matInput placeholder="Valor Serviços (Aposentadoria especial 15 anos)" formControlName="vlrServicos15" twoDigitDecimaNumber>
                </span>
                <span matPrefix>R$&nbsp;&nbsp;</span>
              </mat-form-field>

            </div>

          </div>
        </div>

        <div class="m-form__group">
          <div class="row">
            <div class="col-md-6 m--margin-bottom-10-mobile">
              <mat-form-field class="mat-form-field-fluid">
                <input matInput placeholder="Valor Serviços (Aposentadoria especial 20 anos)" formControlName="vlrServicos20" twoDigitDecimaNumber>
                <span matPrefix>R$&nbsp;&nbsp;</span>
              </mat-form-field>
            </div>

            <div class="col-md-6 m--margin-bottom-10-mobile">
              <mat-form-field class="mat-form-field-fluid">
                <input matInput placeholder="Valor Serviços (Aposentadoria especial 25 anos)" formControlName="vlrServicos25" twoDigitDecimaNumber>
                <span matPrefix>R$&nbsp;&nbsp;</span>
              </mat-form-field>
            </div>

          </div>
        </div>

        <div class="m-form__group">
          <div class="row">
            <div class="col-md-6 m--margin-bottom-10-mobile">
              <mat-form-field class="mat-form-field-fluid">
                <input matInput placeholder="Valor da Retenção adicional" formControlName="vlrAdicional" twoDigitDecimaNumber>
                <span matPrefix>R$&nbsp;&nbsp;</span>
              </mat-form-field>
            </div>

            <div class="col-md-6 m--margin-bottom-10-mobile">
              <mat-form-field class="mat-form-field-fluid">
                <input matInput placeholder="Valor da Retenção adicional (Não Efetuada)" formControlName="vlrNRetAdic" twoDigitDecimaNumber>
                <span matPrefix>R$&nbsp;&nbsp;</span>
              </mat-form-field>
            </div>

          </div>
        </div>

      </div>
    </div>
    <div class="m-portlet__foot m-portlet__foot--fit text-right">
      <div class="m-form__actions m-form__actions m-form__actions--solid">
        <button type="button" mat-raised-button cdkFocusInitial (click)="onNoClick()" matTooltip="Cancel changes">Cancel</button>&nbsp;
        <button type="button" mat-raised-button color="primary" (click)="save()" [disabled]="!checkDataIsValid() || viewLoading"
          matTooltip="Save changes">Save</button>
      </div>
    </div>
  </form>
  <!--end::Form-->
</div>
