<m-portlet [options]="{headLarge: true}" [loading$]="dataSource.loading$">
  <!-- <m-portlet [options]="{headLarge: true}"> -->
  <!-- start::Header (attributtes: mPortletHeadTitle|mPortletHeadTools) -->
  <ng-container mPortletHeadTitle>
    <div class="m-portlet__head-title">
      <h3 class="m-portlet__head-text">
        Listagem de Notas Fiscais
      </h3>
    </div>
  </ng-container>
  <ng-container mPortletHeadTools>
    <a [routerLink]="['/reinf/notafiscal/add']" mat-raised-button color="primary" matTooltip="Create new product">New product</a>
  </ng-container>
  <!-- end::Header -->
  <!-- start::Body (attribute: mPortletBody) -->
  <ng-container mPortletBody>

    <div class="m-form">
      <!-- start::FILTERS -->
      <div class="m-form__filtration">
        <div class="row align-items-center">
          <div class="col-md-2 m--margin-bottom-10-mobile">

            <div class="m-form__control">
              <mat-form-field>
                <mat-select [(value)]="filterStatus" (selectionChange)="loadProductsList()" class="mat-form-field mat-form-field-fluid">
                  <mat-option value="">All</mat-option>
                  <mat-option value="0">Selling</mat-option>
                  <mat-option value="1">Sold</mat-option>
                </mat-select>
                <mat-hint align="start">
                  <strong>Filter by Status</strong>
                </mat-hint>
              </mat-form-field>
            </div>

          </div>
          <div class="col-md-2 m--margin-bottom-10-mobile">

            <div class="m-form__control">
              <mat-form-field>
                <mat-select [(value)]="filterCondition" (selectionChange)="loadProductsList()" class="mat-form-field mat-form-field-fluid">
                  <mat-option value="">All</mat-option>
                  <mat-option value="0">New</mat-option>
                  <mat-option value="1">Used</mat-option>
                </mat-select>
                <mat-hint align="start">
                  <strong>Filter by Contidion</strong>
                </mat-hint>
              </mat-form-field>
            </div>

            <div class="d-md-none m--margin-bottom-10"></div>
          </div>
          <div class="col-md-4 m--margin-bottom-10-mobile">
            <mat-form-field>
              <input matInput placeholder="Search product" #searchInput placeholder="Search" class="mat-form-field mat-form-field-fluid">
              <mat-hint align="start">
                <strong>Search in all fields</strong>
              </mat-hint>
            </mat-form-field>
          </div>
        </div>
      </div>
      <!-- end::FILTERS -->
    </div>

    <div class="mat-table__wrapper">
      <mat-table class="lmat-elevation-z8" [dataSource]="dataSource" matSort matSortActive="id" matSortDirection="asc" matSortDisableClear>
        <!-- Checkbox Column -->
        <ng-container matColumnDef="select">
          <mat-header-cell *matHeaderCellDef class="mat-column-checkbox">
            <mat-checkbox (change)="$event ? masterToggle() : null" [checked]="selection.hasValue() && isAllSelected()" [indeterminate]="selection.hasValue() && !isAllSelected()">
            </mat-checkbox>
          </mat-header-cell>
          <mat-cell *matCellDef="let row" class="mat-column-checkbox">
            <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row) : null" [checked]="selection.isSelected(row)">
            </mat-checkbox>
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="num">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Num Docto</mat-header-cell>
          <mat-cell *matCellDef="let notafiscal">{{notafiscal.num}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="serie">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Serie</mat-header-cell>
          <mat-cell *matCellDef="let notafiscal">{{notafiscal.serie}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="vlrBruto">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Vlr. Bruto</mat-header-cell>
          <mat-cell *matCellDef="let notafiscal">{{ notafiscal.vlrBruto | number: '1.2-5'  }}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="actions">
          <mat-header-cell *matHeaderCellDef>
            Actions
          </mat-header-cell>
          <mat-cell *matCellDef="let notafiscal">
            <a [routerLink]="['/reinf/notafiscal/edit']" [queryParams]="{id: notafiscal._id}" mat-icon-button color="primary" matTooltip="Editar">
              <mat-icon>create</mat-icon>
            </a>&nbsp;
            <!-- <button mat-icon-button color="warn" type="button" (click)="deleteProduct(product)" matTooltip="Delete product">
              <mat-icon>delete</mat-icon>
            </button>&nbsp; -->
            <button mat-icon-button [matMenuTriggerFor]="menu" matTooltip="More actions">
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
              <button mat-menu-item type="button">
                <mat-icon>subject</mat-icon>
                <span>Remarks</span>
              </button>
              <button mat-menu-item type="button">
                <mat-icon>assignment</mat-icon>
                <span>Specifications</span>
              </button>
            </mat-menu>
          </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>

      </mat-table>
      <div class="mat-table__message" *ngIf="!dataSource.hasItems">No records found</div>
      <!-- start: BOTTOM -->
      <div class="mat-table__bottom">
        <mat-spinner [diameter]="20" *ngIf="dataSource.loading$ | async"></mat-spinner>
        <mat-paginator [pageSize]="10" [pageSizeOptions]="[3, 5, 10]" [length]="dataSource.paginatorTotal$ | async" [showFirstLastButtons]="true"></mat-paginator>
      </div>
      <!-- end: BOTTOM -->
    </div>

  </ng-container>
  <!-- end::Body -->
  </m-portlet>
