<m-notice [icon]="'flaticon-exclamation m--font-primary'">
  Antes de iniciar o uso do sistema, precisamos de mais algumas informações da sua empresa.
  <!-- <a class="m-link" href="https://material.angular.io/components/card/overview" target="_blank">demos & documentation</a> -->
</m-notice>

<!-- <div class="m-portlet" [ngClass]="{ 'm-portlet--body-progress' : viewLoading, 'm-portlet--body-progress-overlay' : loadingAfterSubmit }"> -->
  <m-portlet [options]="{headLarge: true, enableSticky: true}"  [loading$]="loading$">
    <ng-container mPortletHeadTitle>
      <div class="m-portlet__head-title">
        <h3 class="m-portlet__head-text">
          Cadastro de Estabelecimento
        </h3>
      </div>
    </ng-container>
  <!-- <div class="m-portlet__head">
    <div class="m-portlet__head-caption">
      <div class="m-portlet__head-title">
        <span class="m-portlet__head-icon m--hide">
          <i class="la la-gear"></i>
        </span>
        <h3 class="m-portlet__head-text">
          Cadastro de Estabelecimento
        </h3>
      </div>
    </div>
  </div> -->
  <ng-container mPortletBody>
  <!-- <div class="m-portlet__body"> -->

    <!-- <div class="m-portlet__body-progress">
      <mat-spinner [diameter]="20"></mat-spinner>
    </div> -->

    <mat-horizontal-stepper [linear]="isLinear" #stepper  *ngIf="_empresa && _estabelecimento">
      <mat-step [stepControl]="estabelecimentoForm" *ngIf="_estabelecimento">
        <form [formGroup]="estabelecimentoForm" class="m-form m-form--label-align-right">
          <ng-template matStepLabel>Dados da Empresa</ng-template>
          <div class="m-form__section m-form__section--first">

            <div class="form-group m-form__group row">
              <!-- <label class="col-lg-2 col-form-label">CNPJ:</label> -->
              <div class="col-lg-10">
                <mat-form-field style="width: 100%">
                  <input matInput type="text" minlength="14" maxlength="14" placeholder="CNPJ" formControlName="cnpj">
                  <mat-hint align="start">Preencha o CNPJ</mat-hint>
                </mat-form-field>
              </div>
            </div>

            <div class="form-group m-form__group row">
              <!-- <label class="col-lg-2 col-form-label">Email address:</label> -->
              <div class="col-lg-10">
                <mat-form-field style="width: 100%">
                  <input matInput type="text" placeholder="Nome Empresarial" formControlName="nomeEmpresarial">
                  <mat-hint align="start">Preencha o nome da empresa</mat-hint>
                </mat-form-field>
              </div>
            </div>

            <div class="form-group m-form__group row">
              <!-- <label class="col-lg-2 col-form-label">Email address:</label> -->
              <div class="col-lg-10">
                <mat-form-field style="width: 100%">
                  <input matInput type="text" placeholder="Nome Fantasia" formControlName="nomeFantasia">
                  <mat-hint align="start">Preencha o nome fantasia</mat-hint>
                </mat-form-field>
              </div>
            </div>

          </div>
          <div>
            <button mat-button matStepperNext>Próximo</button>
          </div>
        </form>
      </mat-step>
      <mat-step [stepControl]="paramEmpresaForm" *ngIf="_empresa">
        <form [formGroup]="paramEmpresaForm">
          <ng-template matStepLabel>Parâmetros EFD-Reinf</ng-template>
          <div class="m-form__section m-form__section--first">

            <div class="form-group m-form__group row">
              <div class="col-lg-10">
                <mat-form-field style="width: 100%">
                  <mat-select placeholder="Classificação Tributária" formControlName="classificacaoTributaria">
                    <mat-option>--</mat-option>
                    <mat-option *ngFor="let col of classificacaoTributariaList" [value]="col.value">
                      {{ col.name }}
                    </mat-option>
                  </mat-select>
                  <mat-hint align="start">Preencha a Classificação Tributária</mat-hint>
                </mat-form-field>
              </div>
            </div>

            <div class="form-group m-form__group row">
              <div class="col-lg-10">
                <mat-form-field style="width: 100%">
                  <mat-select placeholder="Situação da Pessoa Jurídica" formControlName="situacaoPessoaJuridica">
                    <mat-option>--</mat-option>
                    <mat-option *ngFor="let col of situacaoPessoaJuridicaList" [value]="col.value">
                      {{ col.name }}
                    </mat-option>
                  </mat-select>

                  <mat-hint align="start">Preencha a Situação da Pessoa Jurídica</mat-hint>
                </mat-form-field>
              </div>
            </div>

            <div class="form-group m-form__group row">
              <div class="col-lg-10">
                <section class="example-section">
                  <p><mat-checkbox class="example-margin" formControlName="indECDObrigatoria">ECD Obrigatória</mat-checkbox></p>
                  <p><mat-checkbox class="example-margin" formControlName="indDesoneracao">Desoneração</mat-checkbox></p>
                  <p><mat-checkbox class="example-margin" formControlName="indAcordoIsencaoMulta">Acordo Isenção Multa</mat-checkbox></p>
                </section>
              </div>
            </div>
          </div>



          <div>
            <button mat-button matStepperPrevious>Voltar</button>
            <button mat-button matStepperNext>Próximo</button>
          </div>
        </form>
      </mat-step>

      <mat-step [stepControl]="contatoEmpresaForm" *ngIf="_empresa">
        <form [formGroup]="contatoEmpresaForm">
          <ng-template matStepLabel>Responsável EFD-Reinf</ng-template>
          <div class="m-form__section m-form__section--first">

            <div class="form-group m-form__group row">
              <div class="col-lg-10">
                <mat-form-field style="width: 100%">
                  <input matInput type="text" placeholder="CPF do Responsável" formControlName="cpfContato">
                  <mat-hint align="start">Preencha o cpf do Responsável</mat-hint>
                </mat-form-field>
              </div>
            </div>

            <div class="form-group m-form__group row">
              <div class="col-lg-10">
                <mat-form-field style="width: 100%">
                  <input matInput type="text" placeholder="Nome do Responsável" formControlName="nomeContato">
                  <mat-hint align="start">Preencha o nome do Responsável</mat-hint>
                </mat-form-field>
              </div>
            </div>

            <div class="form-group m-form__group row">
              <div class="col-lg-5">
                <mat-form-field style="width: 100%">
                  <input matInput type="text" placeholder="Telefone Fixo" formControlName="foneFixo">
                  <!-- <mat-hint align="start">Preencha o Telefone Fixo</mat-hint> -->
                </mat-form-field>
              </div>

              <div class="col-lg-5">
                <mat-form-field style="width: 100%">
                  <input matInput type="text" placeholder="Telefone Celular" formControlName="foneCelular">
                  <!-- <mat-hint align="start">Preencha o nome do Responsável</mat-hint> -->
                </mat-form-field>
              </div>
            </div>

            <div class="form-group m-form__group row">
              <div class="col-lg-10">
                <mat-form-field style="width: 100%">
                  <input matInput type="text" placeholder="Email do Responsável" formControlName="email">
                  <mat-hint align="start">Preencha o Email do Responsável</mat-hint>
                </mat-form-field>
              </div>
            </div>

          </div>
          <div>
            <button mat-button matStepperPrevious>Voltar</button>
            <button mat-button matStepperNext>Próximo</button>
          </div>
        </form>
      </mat-step>

      <mat-step>
        <ng-template matStepLabel>Finalizar</ng-template>
        <div class="m-section">
          <span class="m-section__sub">
            Por favor confirme os dados abaixo.
            {{ estabelecimentoForm.value | json }}
          </span>
        </div>
        <div>
          <button mat-button matStepperPrevious>Voltar</button>
          <button mat-button (click)="onSubmit()">Finalizar</button>
        </div>
      </mat-step>
    </mat-horizontal-stepper>
  <!-- </div> -->
<!-- </div> -->
</ng-container>
</m-portlet>
